<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Alquiler</title>
</head>
<body>
    <h1>Editar Alquiler</h1>
    
    <form th:action="${alquiler.esNuevoAlquiler() ? '/alquileres' : '/alquileres/' + alquiler.idalquiler}" th:method="${alquiler.esNuevoAlquiler() != null ? 'POST': 'PUT'}">
    	
		<label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente" required>
            <option th:each="cliente : ${clientes}" th:value="${cliente.idcliente}" th:text="${cliente.nombre + ' ' + cliente.apellido}" th:selected="${alquiler.cliente != null && cliente.idcliente == alquiler.cliente.idcliente}"></option>
        </select><br>
        
        <label for="vehiculo">Vehículo:</label>
        <select id="vehiculo" name="vehiculo" required>
            <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.idvehiculo}" th:text="${vehiculo.marca + ' ' + vehiculo.modelo}" th:selected="${alquiler.vehiculo != null && vehiculo.idvehiculo == alquiler.vehiculo.idvehiculo}"></option>
        </select><br>
        
        <label for="fechaInicio">Fecha de Inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" th:value="${#temporals.format(alquiler.fechaInicio, 'yyyy-MM-dd')}" required><br>
        
        <label for="fechaFin">Fecha de Fin:</label>
        <input type="date" id="fechaFin" name="fechaFin" th:value="${#temporals.format(alquiler.fechaFin, 'yyyy-MM-dd')}" required><br>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" min="0" step="0.01" th:value="${alquiler.precio}" required><br>
        
        <button type="submit">Guardar cambios</button>
    </form>
</body>
</html>

