<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Vehículos</title>
</head>
<body>
    <h1>Listado de Vehículos</h1>
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Matrícula</th>
                <th>capacidad</th>
                <th>color</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehiculo : ${vehiculos}">
                <td th:text="${vehiculo.marca}">Marca del vehículo</td>
                <td th:text="${vehiculo.modelo}">Modelo del vehículo</td>
                <td th:text="${vehiculo.matricula}">Matrícula del vehículo</td>
                <td th:text="${vehiculo.capacidad}">capacidad del vehículo</td>
                <td th:text="${vehiculo.color}">color del vehículo</td>
            </tr>
        </tbody>
    </table>
</body>
</html>