<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Vehículo</title>
</head>
<body>
    <h1>Editar Vehículo</h1>
    
    <form th:action="${vehiculo.esNuevoVehiculo() ? '/vehiculos': '/vehiculos/' + vehiculo.idvehiculo}" th:method="${vehiculo.esNuevoVehiculo() ? 'POST' : 'PUT'}">
    	
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" th:value="${vehiculo.marca}" required><br>
        
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" th:value="${vehiculo.modelo}" required><br>
        
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" th:value="${vehiculo.matricula}" required><br>
        
        <label for="capacidad">Capacidad:</label>
        <input type="text" id="capacidad" name="capacidad" th:value="${vehiculo.capacidad}" required><br>
        
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" th:value="${vehiculo.color}" required><br>
        
        <button type="submit">Guardar cambios</button>
    </form>
</body>
</html>
