<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Vehículo</title>
</head>
<body>
    <h1>Editar Vehículo</h1>
    
    <form th:if="${vehiculo.id != null}" th:action="@{/vehiculos/{id}(id=${vehiculo.id})}" method="put">
    
    	<input type="hidden" th:if="${vehiculo.id != null}" name="_method" value="PUT">
    <form th:unless="${vehiculo.id}" action="/vehiculos" method="post">
    	<input type="hidden" th:unless="${vehiculo.id}" name="_method" value="POST">
    	
        <input type="hidden" name="_method" value="POST">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" th:value="${vehiculo.marca}" required><br>
        
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" th:value="${vehiculo.modelo}" required><br>
        
        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" th:value="${vehiculo.matricula}" required><br>
        
        <button type="submit">Guardar cambios</button>
    </form>
</body>
</html>
